body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    padding: 20px;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

section {
    background: white;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: all 0.4s ease; /* Transition fluide pour le changement de couleur */
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #f1c40f;
    padding-bottom: 5px;
}

#valeur-temp {
    font-size: 1.2em;
    font-weight: bold;
}

button {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f1c40f;
    color: #2c3e50;
}

/* --- NOUVEAUTÉS S41 --- */

.chaud {
    background-color: #fdf2f2 !important; /* Rouge pâle */
    border-left: 10px solid #e74c3c !important; /* Barre rouge vive */
}

.froid {
    background-color: #f0f7ff !important; /* Bleu pâle */
    border-left: 10px solid #3498db !important; /* Barre bleue vive */
}

/* Style pour simuler l'extinction des feux */
.mode-nuit {
    background-color: #1a1a1a !important; /* Gris très sombre */
    transition: background-color 0.5s ease;
}

/* STYLE ACTIONNEUR VENTILATION */
#etat-ventilo {
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 4px;
}

.ventilo-on {
    color: #2980b9;
    text-decoration: underline;
    animation: blink 1s infinite;
}

@keyframes blink {
    50% { opacity: 0.5; }
}

#btn-auto {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}