site_name: Cours de M. Ricart
site_url: https://thomasricart.github.io/lvh

theme:
  name: material
  language: fr
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    - navigation.sections
    - navigation.indexes
    - search.suggest

plugins:
  - search
  - awesome-pages