/* Style spécifique pour le formulaire */
form div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Pour que le padding ne dépasse pas */
}

input[type="range"] {
    width: 100%;
    cursor: pointer;
}

/* On réutilise le style des boutons pour le bouton submit */
button[type="submit"] {
    background-color: #27ae60; /* Vert pour symboliser la validation */
    width: 100%;
}

button[type="submit"]:hover {
    background-color: #219150;
}