/* Styles spécifiques au formulaire S39 */
.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Évite que le champ ne déborde de la carte */
}

input[type="range"] {
    width: 100%;
}

.btn-submit {
    background-color: #27ae60; /* Vert pour la validation */
    color: white;
    width: 100%;
    margin-top: 10px;
}

.btn-submit:hover {
    background-color: #219150;
    transform: translateY(-2px);
}