body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f7f6;
    color: #333;
    padding: 20px;
}

header {
    background-color: #2c3e50;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
}

section {
    background: white;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

h2 {
    color: #2c3e50;
    border-bottom: 2px solid #f1c40f;
    padding-bottom: 5px;
}

#valeur-temp {
    font-size: 1.2em;
    transition: all 0.3s;
}

button {
    background-color: #2c3e50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #f1c40f;
    color: #2c3e50;
}